ConvertService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.snaplogic.com/ConvertService" name="ConvertService" targetNamespace="http://www.snaplogic.com/ConvertService">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://www.snaplogic.com/ConvertService">
	<xs:element name="KelvinToDegreeCelsius">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="InKelvin" type="xs:string"/>         
        </xs:sequence>
      </xs:complexType>
	 </xs:element>
	 <xs:element name="KelvinToDegreeCelsiusResponse">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="InKelvin" type="xs:string"/>
          <xs:element name="InCelsius" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>      
	</xs:element>  
	<xs:element name="CentimetersToInches">
      <xs:complexType>
        <xs:sequence>          		  
          <xs:element name="InCentimeters" type="xs:string"/>	
        </xs:sequence>
      </xs:complexType>
	 </xs:element>
	 <xs:element name="CentimetersToInchesResponse">
      <xs:complexType>
        <xs:sequence>
          <xs:element name="InCentimeters" type="xs:string"/>
          <xs:element name="InInches" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>      
	</xs:element>  
    </xs:schema>
  </types>
  <message name="KelvinToDegreeCelsiusSoapRequest">
    <part name="parameters" element="tns:KelvinToDegreeCelsius"/>
  </message>
  <message name="KelvinToDegreeCelsiusSoapResponse">
    <part name="parameters" element="tns:KelvinToDegreeCelsiusResponse"/>
  </message>
  <message name="CentimetersToInchesSoapRequest">
    <part name="parameters" element="tns:CentimetersToInches"/>
  </message>
  <message name="CentimetersToInchesSoapResponse">
    <part name="parameters" element="tns:CentimetersToInchesResponse"/>
  </message>
  <portType name="ConvertServiceSoapType">
    <operation name="KelvinToDegreeCelsius">
      <documentation>Converts Kelvin Temperature to Degree Celsius.</documentation>
      <input message="tns:KelvinToDegreeCelsiusSoapRequest"/>
      <output message="tns:KelvinToDegreeCelsiusSoapResponse"/>
    </operation>  
	<operation name="CentimetersToInches">
      <documentation>Converts Centimeters To Inches.</documentation>
      <input message="tns:CentimetersToInchesSoapRequest"/>
      <output message="tns:CentimetersToInchesSoapResponse"/>
    </operation>    	
  </portType>
  <binding name="ConvertServiceSoapBinding" type="tns:ConvertServiceSoapType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="KelvinToDegreeCelsius">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
	<operation name="CentimetersToInches">
      <soap:operation soapAction="" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>     
  </binding>
  <service name="ConvertService">
    <documentation>Snaplogic Temperature Conversion Web Service</documentation>
    <port name="ConvertServiceSoap" binding="tns:ConvertServiceSoapBinding">
      <soap:address location="https://elastic.snaplogic.com:443/api/1/rest/slsched/feed/snaplogic/projects/WebServices/ConvertService_Task?bearer_token=nSPw8IPV893YnbKHcIbDAaqEuqHJcVCo"/>
    </port>    
  </service>
</definitions>
